<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="description" content="Legislative Simulation" />
  <meta name="copyright" content="(c) Copyright 2013 LegSim" />
  <meta name="revisit-after" content="1 day" />

  <title>Welcome to LegSim: The Interactive Simulation of the Legislative Process</title>

  <link rel="ICON" href="/assets/img/favicon.ico" />
  <link rel="SHORTCUT ICON" href="/assets/img/favicon.ico" />

  <link rel="stylesheet" href="/utility/css/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/utility/css/print.css" type="text/css" media="print" />
  <!--[if IE]><link rel="stylesheet" href="/utility/css/ie.css" type="text/css" media="screen, projection"/><![endif]-->

<!--   <script type="text/javascript" src="/utility/scripts/jquery.js"></script> -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

</head>
<body id="home">

  <div id="header" class="clearfix">
    <div id="logo"><a href="/"><span>LegSim</span></a></div>
<!--     <div id="chamber"><a href="/" class="house_of_representatives"><span>House of Representatives</span></a></div> -->
  </div><!--header clearfix-->

  <div id="container">
        
    <div id="wrapper">
        <div id="id">
            <h1>Frequently Asked Questions<span class="explanation"></span></h1>
        </div>
       
        <div id="overview" class="right-column">
          <div class="the-content">

          <p><h3>I registered and paid but can't login for the first time.</h3> You must click on the activation link in the email legsim sends you after completing the payment process. Be sure to check your email spam folder if it's not in your inbox. If you still can't find it, send an email to support@legsim.org, detailing your problem.</p>
          
          <p><h3>I started the registration process but didn't complete it, now LegSim won't let me register.</h3> Once you begin the registration process using an email address, that email address can't be used again. Either register use a different valid email address (you need to get the followup activation email from legsim), or send a request to support@legsim.org to have us delete your current information, so you can start over.</p>

          <p><h3>I clicked on the activation link but still can't login.</h3> Did you select the proper legislation session? Are your user name and login correct? If it still isn't working or you need to retrieve your user information, contact support@legsim.org.</p>

          <p><h3>I lost the authorization code my instructor distributed that I need to register.</h3> Send a request to support@legsim.org</p>

          <p><h3>Still can't login?</h3> Make sure your browser cookies are enabled.</p>

          If there are any other problems not covered here, feel free to contact support at support@legsim.org.
      </div>
    </div>
    </div><!--wrapper-->

    <div id="footer" class="clearfix">

      <div class="links clearfix">
        <div class="menu_left"></div>
        <div class="menu_right"><a href="mailto:johnw@legsim.org" title="Contact Us">Contact Us</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="mailto:support@legsim.org" title="Support Desk">Support Desk</a></div>
      </div><!--links clearfix-->

      <div class="copyright">
      &copy; 2001 - 2013 University of Washington.
      </div>
    </div><!--footer-->
  </div><!--container-->

</body>
</html>
