<h1>New Chamber</h1>

<%= form_for @chamber do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f } ) %>
  <div class='field field-submit'>
  	<%= submit_tag 'Create Chamber', :class => 'btn blue-btn' %>
  </div>
<% end %>
