<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/Information-about-managing-this-site-for-instructors.pdf">Information About Managing This Site (For Instructors)</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/Instructor-Cheat-Sheet.pdf">Instructor Cheat Sheet</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/LegSim-Sample-Bill.pdf">Sample Bill</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/LegSim-Sample-Committee-Report.pdf">Sample Committee Report</a></h2>