<% if @new_password %>

  <p>You have been assigned a new random password. Please make sure to keep it safe or change
  it to something you can remember</p>

  <p style="text-align: center; font-size: 200%; font-weight: bold;"><%= @new_password %></p>

<% else %>

  <p>We could not find a password reset with that username (not your email).</p>

<% end %>

<%= link_button_to "Return to Login", "/" %>
