<p>
  To continue to the next step in the activation of your account you will need to proceed to the UW Center 
  for Commercialization site accept the license and provide payment.  Once you have completed payment you will receive 
  an e-mail containing an activation URL.  Click on this URL to confirm receipt and to proceed to the next step of the 
  LegSim Account Registration.
</p>

<%= link_button_to "Proceed to Payment", "https://els.comotion.uw.edu/licenses/61?user_id=#{@user.id}&key=4387b851be4a5dc6" %>