<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/Member-Tutorial.pdf">Member Tutorial</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/Chamber-Leader-Tutorial.pdf">Chamber Leader Tutorial</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/Committee-Chair-Tutorial.pdf">Committee Chair Tutorial</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/Rules-The-Big-Picture.pdf">Rules: The Big Picture</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/House-Rules-of-Procedure.pdf">House Rules of Procedure</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/Senate-Rules-of-Procedure.pdf">Senate Rules of Procedure</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/How-a-Senate-Filibuster-works-in-LegSim.pdf">How a Senate Filibister works in LegSim</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/Pocket-Rules.pdf">Pocket Rules</a></h2>
<h2><a target="_new" href="http://info.legsim.org/wp-content/uploads/2020/08/Debate-Preparation.pdf">Debate Preparation</a></h2>