<div id="overview" class="left-column">
	<div class="left-content">
  		<%= content('section-directory') %>
	</div>
</div>

<div id="details" class="right-column">
	<div class="the-content">
	  <ul><% @sections.each do |group| %>
	    <li><%= link_to_group( group ) %></li>
	  <% end %></ul>
	</div>
</div>