<div id="overview" class="left-column">
	<div class="left-content">
    	<%= content('legislative-holds') %>
	</div>
</div>
<div id="details" class="right-column">
	<div class="the-content">
	</div>
</div>