# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: 
gmail:
  user_name:
  password:
database:
  production:
    username:
    password:
    host:
elavon:
  production:
    login:
    user:
    password: 
  testing:
    login: 
    user: 
    password:
