<h1>Thank you for your registration!</h1>

<h2>Please check your email inbox for a confirmation email with activation link.</h2>

<p>
  If you do not receive a confirmation email within the next 10 minutes, please check your spam folder as sometimes confirmation emails can be placed there. If you are still unable to location your confirmation email, please contact <a href="mailto:support@legsim.org">support@legsim.org</a> along with your <b>course name</b> and <b>email address</b> and we will be happy to assist in getting your situation resolved.
</p>